body::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/overlay.gif);
    content: "";
    z-index: 10;
    pointer-events: none;
    opacity: 0.03;
  }
  
  .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-size: 400px, 100% 100vh;
    background-attachment: fixed;
    transition: 0.2s;
    transition: background 1s;
  }
  .background.white {
    background-color: #fff;
  }
  .background.black {
    background-color: #000;
  }

 .cursor2 {
      width: 20px;
      height: 20px;
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      border-radius: 50%;
      pointer-events: none;
      backdrop-filter: invert(1) grayscale(1);
      z-index: 99999;
      justify-content: center;
      align-items: center;
      mix-blend-mode: difference;
      }

  .cursor2 span {
      color: #fff;
      opacity: 0;
  }

  .cursor2 .img-box {
      position: fixed;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      opacity: 0;
      width: 600px;
      height: 0;
      background-size: cover;
      pointer-events: none;
      transition: height 0.2s, opacity 0.1s;
  }

  .cursor2 .img-box .image {
      width: 100%;
      height: 0;
      overflow: hidden;
  }


  .cursor2 #img1-1 img {
      transform: scale(1.1);
      transition: transform 0.2s 0.2s ease-out;
      position: relative;
  }

  .cursor2 #img3-1 img {
      transform: scale(1);
      position: relative;
      top: -170px;
  }

  .cursor2 #img2 img {
      transform: scale(1);
      position: relative;
      left: -25px;
  }
  .cursor2 #img3 img {
      transform: scale(1.1);
      position: relative;
      left: 0px;
  }

  .cursor2 #img4 img {
      transform: scale(1);
      position: relative;
      left: -30px;
  }

  .cursor2 #img5 img {
      transform: scale(1.2);
      position: relative;
  }

  .cursor2 #img6 img {
      transform: scale(1);
  }


  .cursor2 .img-box.on {
      height: 400px;
      opacity: 1;
      transition: height 0.1s 0.1s, opacity 0.5s;
  }

  .cursor2 .img-box .image.on {
      height: 100%;
  }

  .cursor2 .image.on img {
      transform: scale(0.9);
  }

  .cursor2 .img-box.hide {
    opacity: 0;
    transition: 0.2s;
  }


  .button {
      background-color: #fff;
      position: fixed;
      top: 10px;
      left: 50%;
      transform: translate(-50%);
      z-index: 10000;
      margin-left: 190px;
  }

  .button ul {
      display: flex;
      height: 100%;
      justify-content: center;
      gap: 100px;
      padding: 0 340px 0 30px;
  }

  .button ul li p::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.2s;
      background: #000;
      z-index: -1;
  }


  .button ul li p {
      position: relative;
      transition: 0.2s;
      color: #000;
      font-size: 25px;
      font-family: zeph;
  }

  .button ul li p:hover {
      color: #fff;
  }

  .button ul li p:hover::after {
      transform: scaleX(1);
  }


  /* page1 */

  .page1 {
      height: 100vh;
      width: 100vw;
      position: relative;
      background-image: radial-gradient(circle, rgb(70, 70, 70) 1%, rgb(0 0 0) 100%);
  }

  .title {
      position: relative;
      margin: 0;
      text-align: center;
      color: #fff;
      mix-blend-mode: difference;
      z-index: 2;
      top: 50%;
      left: 8%;
      transform: translateY(-50%);
      font-family: zeph;
  }

  .main_tit {
      font-size: 300px;
  }

  .sub_tit {
      position: absolute;
      top: -220px;
      left: -700px;
      font-size: 20px;
  }

  .orbit-context {
      position: relative;
      left: 30%;
      width: 798px;
  }

  .orbit-context .square {
      position: absolute;
      pointer-events: none;
      margin: 4px;
      display: block;
      top: -10px;
      left: -10px;
      border-radius: 100px;
      width: 10px;
      height: 10px;
      opacity: 1;
      transition: opacity 0.3s ease-out;
      background-color: #fff;
  }

  /* page2 */

  .blind {
      position: absolute;
      width: 1px;
      height: 1px;
      clip: rect(0, 0, 0, 0);
      margin: -1px;
      overflow: hidden;
  }

  .bg-shadow {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.6);
  }


  .page2 {
      width: 100%;
      position: relative;
  }

  .page2 .work_wrap {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100vh;
  }

  .page2 .thumb_box {
      width: 40vw;
      /* clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); */
      overflow: hidden;
  }

  .page2 img {
      width: 100%;
  }

  .page2 .wrap1 {
      background-color: #fff;
  }

  .page2 .wrap2 {
      background-color: #008485;
  }

  .page2 .wrap3 {
      background-color: #083fdc;
  }

  .page2 .wrap4 {
      background-color: #000;
  }

  .page2 .wrap5 {
      background-color: #fff;
  }

  .page2 .wrap6 {
      background-color: #000;
      color: #fff;
  }

  .page2 .wrap6 .thumb_box h1 {
      font-size: 200px;
      text-align: center;
      line-height: 1.2;
  }

  .blank_page {
    width: 100vw;
    height: 25vh;
    position: absolute;
    top: -100px;
    background-color:none;
    z-index: 1000;
  }

  .wrap2 .infobox {
      color: #fff;
  }

  .wrap3 .infobox {
      color: #fff;
  }

  .wrap4 .infobox {
      color: #fff;
  }

  .wrap5 .infobox {
      color: #000;
  }


  .page2 .work_wrap .left {
      width: 80%;
      display: grid;
      place-items: center;
  }

  .page2 .work_wrap .right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
  }

  .work_wrap .infobox {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 6vw;
      justify-content: center;
  }

  .work_wrap .pagenation {
      line-height: 1;
      font-size: 25px;
      font-style: italic;
      font-family: zeph;
  }

  .work_wrap .project-tit {
      margin: 20px 0 25px;
      line-height: 1;
      font-size: 50px;
      font-family: zeph;
      white-space: nowrap;
  }

  .work_wrap .desc {
      font-size: 18px;
      line-height: 1.5;
      font-family: "Pretendard", arial, sans-serif;
      text-align: center;
  }

  .work_wrap .desc2 {
      font-size: 14px;
      color: #afafaf;
  }

  .work_wrap .links {
      margin: 24px 0;
      font-size: 18px;
      font-family: "Gilroy", sans-serif;
  }

  .work_wrap .links a {
      display: inline-block;
      padding: 10px 20px;
      border: 1px solid #fff;
      border-radius: 30px;
      transition: all 0.5s;
  }

  .wrap1 .links a {
      display: inline-block;
      padding: 10px 20px;
      border: 1px solid #000;
      border-radius: 30px;
      transition: all 0.5s;
  }

  .wrap5 .links a {
      display: inline-block;
      padding: 10px 20px;
      border: 1px solid #000;
      border-radius: 30px;
      transition: all 0.5s;
  }

  .work_wrap .links a:hover {
      background-color: #fff;
      color: #000;
      border: 1px solid transparent;
  }

  .wrap1 .links a:hover {
      background-color: #000;
      color: #fff;
      border: 1px solid transparent;
  }

  .wrap5 .links a:hover {
      background-color: #000;
      color: #fff;
      border: 1px solid transparent;
  }

/* page3 */

  .page3{
    background-color: #000;
  }

  .other-tit {
      color: #fff;
      position: relative;
      top: 150px;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      display: inline-block;
      font-size: 100px;
      font-family: zeph;
      margin-top: 200px;
      margin-bottom: 400px;
  }

  .section-card {
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding-left: 180px;
      padding-bottom: 80px;
      padding-top: 250px;
      z-index: 2;
  }

  .cards {
      width: 90%;
  }

  .cards_item {
      width: 100%;
      perspective: 500px;
      margin-bottom: 50px;
  }

  .cards_item:last-child {
      margin-bottom: 0;
  }

  .cards_el {
      width: 100%;
      height: 300px;
  }

  .cards_el-wrapp {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 40px;
      padding: 45px;
      border-radius: 20px;
      background: #baa0a01a;
      backdrop-filter: blur(10px);
      will-change: blur;
      text-transform: uppercase;
      font-family: 'Pretendard-Regular';
      font-weight: 100;
  }

  .viewS {
      width: 10%;
  }

  .viewS a {
      color: #fff;
      font-size: 16px;
      font-family: 'Pretendard-Regular';
      font-weight: 100;
  }

  .cards_num {
      font-size: 40px;
      font-style: italic;
      color: #afafaf;
  }


  .cards_img {
      width: 35%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;

  }

  .cards_el-wrapp .img1 {
      background: url(../img/스시.png) no-repeat;
      background-size: cover;
      background-position: top;
      border: 1px solid#ccc;
      transition: 0.8s;
  }

  .cards_el-wrapp .img3 {
      background: url(../img/scss.png) no-repeat;
      background-size: cover;
      background-position: top;
      border: 1px solid#ccc;
      transition: 0.8s;
  }

  .cards_el-wrapp .img4 {
      background: url(../img/반응형\ 예제1.png) no-repeat;
      background-size: cover;
      background-position: top;
      border: 1px solid#ccc;
      transition: 0.8s;
  }

  .cards_el-wrapp .img5 {
      background: url(../img/모바일.png) no-repeat;
      background-size: cover;
      background-position: top;
      border: 1px solid#ccc;
      transition: 0.8s;
  }

  .cards_el-wrapp .img6 {
      background: url(../img/람보르기니1.png) no-repeat;
      background-size: cover;
      background-position: top;
      border: 1px solid#ccc;
      transition: 0.8s;
  }

  .cards_el-wrapp .img7 {
      background: url(../img/플립.png) no-repeat;
      background-size: cover;
      background-position: top;
      border: 1px solid#ccc;
      transition: 0.8s;
  }

  .cards_el-wrapp .img8 {
      background: url(../img/사이버.png) no-repeat;
      background-size: cover;
      background-position: top;
      border: 1px solid#ccc;
      transition: 0.8s;
  }

  .cards_img:hover {
      background-position: bottom;
  }

  .cards_img img {
      display: block;
      width: 120%;
      height: 120%;
      left: -10%;
      top: -10%;
      position: relative;
      object-fit: cover;
  }

  .cards_txt {
      width: 45%;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 30px;
  }


  .cards_el-title {
      margin-top: 20px;
      font-size: 40px;
      font-weight: 100;
  }

  .cards_desc {
      margin-bottom: 20px;
      font-size: 20px;
  }

  .cards_el-p {
      font-size: 14px;
      color: #afafaf;

  }

  .page4 {
      height: 100vh;

  }

  .sc-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 5vw;
      color: #000;
      padding-bottom: 5vw;
      gap: 200px;
  }

  .sc-contact .msg-area {
      display: flex;
      justify-content: space-between;
  }

  .sc-contact .contact-msg {
      font-size: 18px;
  }

  .sc-contact .contact-area {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .contact-area .sub-tit {
      font-size: 90px;
      font-family: 'Pretendard-Regular';
      letter-spacing: -5px;
  }

  .sc-contact .contact-box {}

  .sc-contact .contact-txt {
      font-family: "Zephyr", arial, sans-serif;
      font-size: 5vw;
      width: 100%;
      line-height: 1;
  }

  .sc-contact .info-box {
      width: 80%;
      font-family: 'Pretendard-Regular';
      font-size: 16px;
      display: flex;
      justify-content: space-between;
  }

  .info-box .phone,
  .info-box .email {
      border-bottom: 1px solid#000;
      font-weight: bold;
      font-size: 18px;
  }


  .animated-title {
      font-size: 60px;
      font-family: zeph;
      font-weight: 400;
      letter-spacing: 2px;
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 61px;
  }

  .animated-title .track {
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 60s linear infinite;
  }

  @keyframes marquee {
      from {
          transform: translateX(0);
      }

      to {
          transform: translateX(-50%);
      }
  }